<h1 class="text-center"> 店舗詳細</h1>
<%# #showに必要なもの
値は？
  →@report
  →@order
  →@recipe
  →@food
形は？
  →tableタグ
    →縦にrecipe、横にreportを
使うものは？→×Kaminari （一ヶ月毎）→JSでできる

テーブルタグ使用×②
①order一覧テーブル
theadに@recipe.allをeach do
tbodyに@reportを日付毎に表示
横に伸ばす

②food一覧テーブル
theadに@food.allをeach do
tbodyに計算内容（どうやって取る？）を日付毎に表示
横に伸ばす %>
<%# <tr><th>順位</th><th>名前</th><th>人気度</th><th>備考</th></tr>
<tr><th>１位</th><td>トロ</td><td>☆☆☆☆☆</td><td>やはり何といってもトロ！</td></tr> %>
<div>
  <table class="orders__table table table-bordered table-striped mt-4">
    <thead class="orders__table__header table-primary">
      <tr class="orders__table__header__lists">
        <th class="list" scope="row">日付</th>
        <th class="list" scope="row">売上</th>
        <th class="list" scope="row">作成者</th>
        <% @recipes.each do |recipe| %>
          <th class="list" scope="row"><%= recipe.name %></th>
        <% end %>
      </tr>
    </thead>
    
    <tbody class="orders__table__body">
      <% @reports.each do |report| %>
        <tr class="orders__table__body__lists">
          <td><%= report.date %></td>
          <td><%= report.sale %>千円</td>
          <td><%= report.user.name %></td>
          <% @recipes.each do |recipe| %>
          <%# 個々に取り出したreportのうち、recipe_id全部から同じidのレシピのみ検索してcountカラムを取得。値がなければ０とする %>
            <td><%= report.orders.find_by(recipe_id: recipe.id)&.count || 0 %></td>
          <% end %>
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <table class="reports__table table table-bordered table-striped mt-4"">
    <thead class="reports__table__header table-primary">
      <tr class="reports__table__header__lists">
        <th class="list"></th>
        <th class="list"></th>
        <th class="list"></th>
      </tr>
    </thead>
    <tbody class="reports__table__body">
      <tr class="reports__table__body__lists">
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>