<h3 class="text-center">ユーザー一覧</h3>
    <%= search_form_for @q, url: new_user_path do |f| %>
      <%= f.search_field :name_cont, placeholder: "ユーザー名を入力" %>
      <% f.label :rank_id_eq %>
      <%= f.collection_select :rank_id_eq, @ranks, :id, :name, :include_blank => '職位指定' %>
      <%= f.submit "検索" %>
    <% end %>
<div class="page">
  <%= paginate @search_user %>
</div>
<table class="table table-bordered table-striped mt-4">
  <thead class="table-primary">
    <tr>
      <th scope="col">No.</th>
      <th scope="col" class="w-20">従業員ID</th>
      <th scope="col" class="w-20">職位</th>
      <th scope="col" class="w-20">ユーザー名</th>
      <th scope="col" class="w-20">表示/非表示</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @search_user.each do |user| %>
      <tr>
        <th scope="row" class="text-right"><%= user.id %></th>
        <td class="break-word"><%= user.employee_id %></td>
        <td class="break-word"><%= user.rank.name %></td>
        <td class="break-word"><%= user.name %></td>
        <td class="break-word">
        <% if user.display == true %>
          <i class="fas fa-eye"></i>表示する
        <% else %>
          <i class="far fa-eye-slash"></i>表示しない
        <% end %>
        </td>
        <td>
          <%= link_to  edit_user_path(user), class: "btn btn-success" do %>
            <i class="far fa-edit"></i><span class="d-none d-md-inline"> 編集</span>
          <% end %>
          <%= link_to user_path(user),method: :delete , data: { confirm: "削除しますか?" }, class: "btn btn-danger" do %>
            <i class="fas fa-trash-alt"></i><span class="d-none d-md-inline"> 削除</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
