<div class="footer__box">
  <div class="footer__box__function">
    <div class="function-left">
    <p>機能・内容</p>
      <ul>
        <li>
          <%= link_to"機能" ,"#"%></li>
        <li>
          <%= link_to"内容" ,"#"%></li>
      </ul>
    </div>
    <div class="function-right">
      <ul>
        <li>
          <%= link_to"お知らせ" ,"#"%></li>
        <li>
          <%= link_to"よくある質問" ,"#"%></li>
        <li>
          <%= link_to"お問い合わせ" ,"#"%></li>
        <li>
          <%= link_to"会社概要" ,"#"%>
        </li>
        <li>
          <%= link_to"プライバシーポリシー" ,"#"%>
        </li>
      </ul>
    </div>
  </div>
  <address class="footer__box__corporate">
    <ul>
      <li class="name">◯◯◯株式会社</li>
      <li class="tel">TEL 000-0000-0000</li>
    </ul>
  </address>
</div>