<h1>飲食店向け  食材使用量計算アプリ</h1>
  <p>メニュー一覧</p>

<div class= "index_area">
  <h1 class="text-center">店舗一覧</h1>
    <%= search_form_for @q, url: root_path do |f| %>
      <%= f.search_field :name_cont, placeholder: "店舗名を入力" %>
      <% f.label :brand_id_eq %>
      <%= f.collection_select :brand_id_eq, @brands, :id, :name, :include_blank => 'ブランド指定' %>
      <%= f.submit "検索" %>
    <% end %>
  <div class="page">
    <%= paginate @search_shop %>
  </div>
  <table class="table table-bordered table-striped mt-4">
    <thead class="table-primary">
      <tr>
        <th scope="col">No.</th>
        <th scope="col" class="w-20">店舗ID</th>
        <th scope="col" class="w-20">業態</th></th>
        <th scope="col" class="w-20">店名</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @search_shop.each do |shop| %>
        <% if shop.display == true %>
          <tr>
            <th scope="row" class="text-right"><%= shop.id %></th>
            <td class="break-word"><%= shop.number %></td>
            <td class="break-word"><%= shop.brand.name %></td>
            <td class="break-word"><%= shop.name %></td>
            <td class="text-nowrap">
              <%= link_to  shop_path(shop), class: "btn btn-primary" do %>
                <i class="far fa-file-alt"></i><span class="d-none d-sm-inline"> 詳細</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="page">
    <%= paginate @search_shop %>
  </div>
</div>
