<!DOCTYPE html>
<html>
  <head>
    <title>UsageCalculation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>      
  </head>

  <body>
    <header class="fixed-top">
      <%= render 'shared/header' %>
      <%= render 'shared/navbar' %>
    </header>
    <main>
        <%= render 'layouts/flash' %>
        <%= yield %>
    </main>
  </body>
</html>
